<mat-card class="container">
    <mat-card-title style="text-align:center">Retiro</mat-card-title>
   <form #form="ngForm" [formGroup]="formGroup"  autocomplete="off">
   
       <mat-form-field class="full-width ">
         <input  matInput placeholder="Ingrese cantidad a retirar" formControlName="monto"   class="input" value={{value}} (focus)="input.blur()" #input>
          <mat-error *ngIf="formGroup.get('monto').errors?.required">Monto requerido.</mat-error> 
         <mat-error *ngIf="formGroup.get('monto').errors?.pattern">El Monto debe ser un numero</mat-error>      
       </mat-form-field>
   
       <div style="text-align:center">
         <div class="simple-keyboard"></div>
       </div> 
       <div class="Buttons">
       <mat-dialog-actions >
         <button class="form-btn"  mat-raised-button color="primary" [disabled]="form.invalid" (click)="Enviar(form.value)" > Aceptar</button>
         <button mat-raised-button color="warn"  (click)="Clean()">Limpiar</button>
         <button mat-raised-button color="warn"  [routerLink]='["/Operations"]'   mat-button>Salir</button> 

       </mat-dialog-actions>
     </div>
     </form>
   </mat-card>  