.container{
    margin: 0 auto;
    margin-top: 10%;
    padding: 2rem 0rem;
    width: 50%;
}

.input{
    border-radius:5px;box-sizing:border-box;padding:5px;
    width: 100%;
    margin-bottom: 3%;
}

.Buttons{
  margin-left: 30%;
  margin-top: 8%;
}
   form {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0rem;
  }
  
  .full-width {
    width: 100%;
  }
  
  button {
    margin-top: .5rem;
  }

  .left{
    margin-left: 10%;
    margin-right: 5%;
  }